<configuration>
	<root level="ALL">
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d{HH:mm:ss.SSS} %level %logger{30} - %msg%n</pattern>
			</encoder>
		</appender>
	</root>
	<logger name="ilog.opl.teste.meter" level="INFO" />
	<logger name="ilog.cplex.teste.meter" level="INFO" />
</configuration>